<div class="py-10 bg-[#0E1F51] mt-8">
  <div class="section-container md:flex gap-8">
    <div class="flex flex-col w-[35%]">
      <img
        src="assets/images/footer-logo.svg"
        class="mb-8"
        width="130px"
        height="130px"
      />
      <div class="hidden md:block">
        <p class="text-lg text-white">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at
        </p>
      </div>
    </div>

    <div class="flex md:flex-row flex-col gap-12">
      <div class="flex flex-col gap-4">
        <div>
          <h5 class="font-bold text-white text-2xl mb-4">Services</h5>
          <div class="w-[45px] py-1 rounded-full bg-[#FD6F00]"></div>
        </div>
        <div class="flex flex-col gap-6 text-white text-base">
          <p>Web Design/Development</p>
          <p>App Development</p>
          <p>UI/UX Design</p>
          <p>HubSpot Integration</p>
        </div>
      </div>
      <div class="md:hidden rounded-lg w-full p-[2px] my-6 bg-white"></div>
      <div class="flex flex-col gap-4">
        <div>
          <h5 class="font-bold text-white text-2xl mb-4">Links</h5>
          <div class="w-[45px] py-1 rounded-full bg-[#FD6F00]"></div>
        </div>
        <div class="flex flex-col gap-6 text-white text-base">
          <p>Web Design/Development</p>
          <p>App Development</p>
          <p>UI/UX Design</p>
          <p>HubSpot Integration</p>
        </div>
      </div>
      <div class="hidden md:block">
        <div>
          <h5 class="font-bold text-white text-2xl mb-4">Career</h5>
          <div class="w-[45px] py-1 rounded-full bg-[#FD6F00]"></div>
        </div>
        <div class="flex flex-col gap-6 text-white text-base mt-4">
          <div class="flex gap-4">
            <div class="p-2 rounded-lg bg-white">
                <img src="assets/images/react-icon.svg" />
            </div>
            <div class="flex justify-between flex-col">
                <p class="font-semibold text-[#FD6F00]">ReactJs Dev.</p>
                <p class="text-white">1-5 Years of Exp.</p>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="p-2 rounded-lg bg-white">
                <img src="assets/images/react-icon.svg" />
            </div>
            <div class="flex justify-between flex-col">
                <p class="font-semibold text-[#FD6F00]">ReactJs Dev.</p>
                <p class="text-white">1-5 Years of Exp.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
